body {
    font-family: FredokaOne,arial,sans-serif;
}

#LogoWrapper {
    text-align: center;
    margin-top: 25px;
}

.CenterWrapper {
    text-align: center;
}

#LogoImage {
    display: inline-block;
}

#LogoImage img  {
    border-radius: 50%;
}

#YeetButton {
    transition: all .1s linear;
}

#YeetButton:active {
    transform: translateY(3px);
}

#YeetWrapper {
    position: fixed;
    /* width: 98%; */
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px
}

#LeaderboardList {
    list-style: none;
    padding: 0;
}

#LeaderboardList li {
    padding: 3px;
    background-color: #EEEEEE;
    font-family: FredokaOne,arial,sans-serif
}

.YeeterName {
    width: 33%;
    display: inline-block;

}

.YeeterDevice {
    width: 33%;
    display: inline-block;
}

.YeeterHeight {
    width: 33%;
    display: inline-block;

}