body {
    font-family: FredokaOne,arial,sans-serif;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0,0,0,.15);
    color: rgb(78,133, 236);
}


header {
    margin: 0 auto;
}

#UserInfo {
    position: fixed; /* Sit on top of the page content *//* Hidden by default */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.UserInfoCenter {
    position:fixed;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: rgb(255,255,255);
}

#CountDown {
    display: block;
}

#DataEntry {
    display: none;
}

#CountDownValue {
    font-size: 10vh;
    margin-top: 10%;
}

#DataEntryYeet {
    border-radius: 5%;
    color: rgb(217, 80, 63);
    display: inline-block;
    padding: 6px;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(217, 80, 63, 0.1) 2px 3px 9px;
    width: 30vw;
    margin-top: 20px;
}

#LeaderboardWrapper {
    margin-bottom: 3vh;
}

@font-face {
    font-family: FredokaOne;
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/fredokaone.woff2) format("woff2"),url(../fonts/fredokaone.woff) format("woff"),url(../fonts/fredokaone.ttf) format("truetype")
}

#LogoWrapper {
    font-family: FredokaOne,arial,sans-serif;
    line-height: 1.25em;
    text-shadow: 0 1px 4px rgba(0,0,0,.15);
    margin-bottom: 5vh;
}

.LeaderboardSelector {
    display: inline-block;
    color: rgb(217, 80, 63);
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: rgba(217, 80, 63, 1) 2px 3px 9px;
}

.LeaderboardPage {
    display: inline-block;
    color: rgb(217, 80, 63);
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: rgba(217, 80, 63, 1) 2px 3px 9px;
}

#LeaderboardPageSpacer {
    width: 33%;
    display: inline-block;
}

#LeaderboardSelectorWrapper {
    margin-bottom: 5px;
}

#LogoWrapper h1 {
    margin: 0 auto;
    letter-spacing: 4px;
    padding-top: 32px;
    font-weight: normal;
    color: rgb(78,133, 236);
}

#LogoWrapper h2 {
    font-size: .5em;
    margin: 0 auto;
    height: 10vw;
    padding-bottom: 10px;
    font-weight: normal;
    color: rgba(78,133, 236, .15);
}

.CenterWrapper {
    text-align: center;
}

#LogoImage {
    display: inline-block;
}

#LogoImage img  {
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
}

#YeetButton {
    transition: all .1s linear;
    width: 30vw;
    border-radius: 25%;
}

#Score {
    display: none;
}

#YeetButton:active {
    transform: translateY(3px);
    cursor: pointer;
}

#YeetWrapper {
    /* width: 98%; */
    text-align: center;
    margin-bottom: 10px;
}


#YeetWrapper div h1 {
  background-color: #ffffff;
  border-radius: 5%;
  color: rgb(217, 80, 63);
  display: inline-block;
  padding: 6px;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(217, 80, 63, 1) 2px 3px 9px;
}


    .rolldown-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
  
  .rolldown-list li {
    margin: 1px;
    border-radius: 4px;
    color: rgb(78,133, 236);
    font-family: FredokaOne,arial,sans-serif;
  }
  
  .rolldown-list li {
    margin: 1px;
    border-radius: 4px;
    visibility: hidden;
    animation: rolldown .3s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
    box-shadow: rgba(32,33,36,0.1) 2px 3px 9px;
  }

  .rolldown-list li span {
      width: 33%;
  }
  
  .rolldown-list li:nth-child(2n) {
    background-color: #ffffff;
  }
  
  .rolldown-list li:nth-child(2n+1) {
    background-color: #ffffff;
  }

  .YeeterName {
    width: 33%;
    display:inline-block;
}

.YeeterDevice {
    width: 33%;
    display:inline-block;
}

.YeeterHeight {
    width: 33%;
    display:inline-block;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1vh;
}

.LeaderboardSelector {
    transition: all .1s linear;
}

.LeaderboardSelector:active {
    transform: translateY(3px);
    cursor: pointer;
}

.LeaderboardPage {
    transition: all .1s linear;
}

.LeaderboardPage:active {
    transform: translateY(3px);
    cursor: pointer;
}



  @keyframes rolldown {
    0% {
      visibility: visible;
      transform: rotateX(180deg) perspective(500px);
    }
    70% {
      visibility: visible;
      transform: rotateX(-20deg);
    }
    100% {
      visibility: visible;
      transform: rotateX(0deg);
    }
  }
