body {
    font-family: FredokaOne,arial,sans-serif;
}

#LogoWrapper {
    text-align: center;
    margin-top: 25px;
}

.CenterWrapper {
    text-align: center;
}

#LogoImage {
    display: inline-block;
}

#LogoImage img  {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

#YeetButton {
    transition: all .1s linear;
    width: 30vw;
    height: 15vw;
}

#YeetButton:active {
    transform: translateY(3px);
    cursor: pointer;
}

#YeetWrapper {
    position: fixed;
    /* width: 98%; */
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px
}

    .rolldown-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
  
  .rolldown-list li {
    margin: 1px;
    border-radius: 4px;
    color: #ffffff;
    font-family: FredokaOne,arial,sans-serif;
  }
  
  .rolldown-list li {
    margin: 1px;
    border-radius: 4px;
    visibility: hidden;
    animation: rolldown .3s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
  }

  .rolldown-list li span {
      width: 33%;
  }
  
  .rolldown-list li:nth-child(2n) {
    background-color: #63d49a;
  }
  
  .rolldown-list li:nth-child(2n+1) {
    background-color: #53AF80;
  }

  .YeeterName {
    width: 33%;
    color: #ffffff;
    display:inline-block;
}

.YeeterDevice {
    width: 33%;
    color: #ffffff;
    display:inline-block;
}

.YeeterHeight {
    width: 33%;
    color: #ffffff;
    display:inline-block;
}

  @keyframes rolldown {
    0% {
      visibility: visible;
      transform: rotateX(180deg) perspective(500px);
    }
    70% {
      visibility: visible;
      transform: rotateX(-20deg);
    }
    100% {
      visibility: visible;
      transform: rotateX(0deg);
    }
  }
